@media(max-width:1150px){

    .blogPost__links li{
        font-size: 1.7rem;
    }
}

@media(max-width:1080px){

    .blogPost__links ul{
        padding: 10px;
    }

    .blogPost__links li{
        font-size: 1.6rem;
    }

    .blogHeader .headerBar ul{
        display: flex;
    }

    .blogHeader__headerOne{
        justify-content: center;
        align-items: center;
    }
}

@media(max-width:1000px){

    .blogPost__container{
        display: flex;
        flex-wrap: wrap;
    }

    .blogPost__side{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }

    .blogPost__links,
    .blogPost__aside{
        width: 40%;
    }

    .blogPost__main{
        width: 100%;
    }

    .blogPost__content{
        margin-top: 30px;
    }

    .blogPost__post{
        width: 97%;
    }

    .blogPost__form{
        width: 97%;
    }
}

@media(max-width:768px){

    .blogHeader{
        height: 50vh;
    }

   .blogHeader .headerBar ul{
        display: none;
    }

    .blogHeader i{
        display: block;
        font-size: 5rem;
        color: $accentColor;
        background: none;
        padding: 20px;
        text-align: end;
    }

    .blogHeader__headerOne{
        align-items: flex-start;
    }

    .blogHeader__headerOne h1{
         font-size: 6rem;
    }

    .blogPost__side{
        flex-direction: column;
    }

    .blogPost__aside{
        width: 97%;
        margin-top: 50px;

        & img{
            width: 70%;
            
        }
    }

    .blogPost__links{
        display: none;
    }

    .blogPost__postContent,
    .blogPost__post{
        display: none;
    }

    .blogPost form{
        width: 95%;

        & button{
            margin-bottom: 30px;
        }
    }

}

@media(max-width:525px){

    .blogHeader h1{
        line-height: 1;
    }

    .blogPost__links{
        display: block;
        width: 100%;

        & h4{
            font-size: 4rem;
        }

        & ul{
            margin-bottom: 0;
        }

        & li{
            font-size: 2.2rem;
            padding-bottom: 10px;
        }
    }

    .blogPost__main{
        display: none;
    }

    .blogPost form{
        width: 100%;
    }

    input[type="text"],
    input[type="email"]{
        width: 100%;
        margin: 0;
    }
}

@media(max-width:440px){
    .blogPost__links h4{
        font-size: 2.8rem;
    }

    .blogPost__links li{
        font-size: 1.7rem;
    }
}
