@media(max-width:1255px){

    .blogPost__links a{
            padding: 0; 
        }
}

@media(max-width:1180px){

    .blogPost{
        font-size: 1.9rem;

        &__links a{
            font-size: 1.7rem;
        }
    }
}

@media(max-width:1150px){

    .blogPost__links li{
        font-size: 1.7rem;
    }
}

@media(max-width:1080px){

    .blogHeader{

        & .headerBar ul{
            display: flex;
        }
    
        &__headerOne{
            justify-content: center;
            align-items: center;
        }
    }

    .blogPost{
        
        &__links ul{
            padding: 10px;
        }
    
        &__links li{
            font-size: 1.6rem;
        }
    
    }
}

@media(max-width:1000px){

    .blogPost{

        &__container{
            display: flex;
            flex-wrap: wrap;
        }

        &__side{
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
        }

        &__links,
        &__aside{
            width: 40%;
        }

        &__links a{
            padding: 0;
        }

        &__links li{
            list-style: none;
            font-size: 1.7rem;
        }

        &__main{
            width: 100%;
        }
        
        &__content{
            margin-top: 30px;
        }

        &__post{
            width: 97%;
        }

        &__form{
            width: 97%;
        }

    }
}

@media(max-width:768px){

    .blogHeader{
        height: 50vh;
        
        & .headerBar ul{
            display: none;
         }

        & i{
            display: block;
            font-size: 5rem;
            color: $accentColor;
            background: none;
            padding: 20px;
            text-align: end;
         }
         
         &__headerOne{
             align-items: flex-start;
         }
         
         &__headerOne h1{
              font-size: 6rem;
         }
         
    }

    .blogPost{

        &__side{
            flex-direction: column;
        }

        &__aside{
            width: 97%;
            margin-top: 50px;
    
            & img{
                width: 70%;
                
            }
        }
        
        &__links{
            display: none;
        }
        
        &__postContent,
        &__post{
            display: none;
        }

        & form{
            width: 95%;
    
            & button{
                margin-bottom: 30px;
            }
        }
    }
}

@media(max-width:525px){

    .blogHeader{

        & h1{
            line-height: 1;
        }
    }

    .blogPost{

        &__links{
            display: block;
            width: 100%;
    
            & h4{
                font-size: 4rem;
            }
    
            & ul{
                margin-bottom: 0;
            }
    
            & li{
                font-size: 2.2rem;
                padding-bottom: 10px;
            }
        }
        
        &__main{
            display: none;
        }
    
        & form{
            width: 100%;
        }    
    }
    
    input[type="text"],
    input[type="email"]{
        width: 100%;
        margin: 0;
    }
}

@media(max-width:440px){

    .blogPost{
        
        &__links h4{
            font-size: 2.8rem;
        }
    
        &__links li{
            font-size: 1.7rem;
        }

    }
}
