.bucket{

    background: linear-gradient(to left, $secondaryColor, $secondaryColor 50%, transparent 50%);
    height: 400px;
    display: flex;
    
        &__content{
            display: flex;
            flex-direction: column;
            @include primaryFont(20, 400);
            width: 50%;
        }
        
        &__image img{
            width: 100%;
        }
    }    