@media(max-width:1160px){
    .contactMe__aside i{
        font-size: 2rem;
    }
}

@media(max-width:1080px){

    .contactMe{
        width: 100%;
    }

    .contactHeader{
        height: 50vh;
    }
    
    .contactHeader .headerBar ul{
        display: flex;
    }

    .contactHeader__headerOne{
        justify-content: center;
        align-items: center;

        & h1{
            font-size: 10rem;
        }
    }

    .contactMe form,
    .contactMe__aside{
        margin-top: 50px;
    }

    .contactMe__body{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .contactMe__aside{
        margin-bottom: 20px;
        width: 50%;
        text-align: center;

        & i{
            font-size: 3.5rem;
            margin-left: 20px;
        }
    }

    .contactMe form{
        margin-top: 10px;
    }
    
}

@media(max-width:845px){
    
}