.contactHeader{
    background-image: url(../assets/blog-image-1.jpg);
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;

        & i{
        display: none;
        }
    

    &__headerOne{
        height: inherit;
        display: flex;
        align-items: flex-end;
        line-height: 0.7;

    }
    &__headerOne h1{
        @include headingFont (80, 400);
        margin: 0 50px;
    }
}    