    .mainHeader{
        background-color: $primaryColor;
        width: 100%;
        height: 70vh;
        position: relative;

        
        .headerBar__list{
            background-color: $primaryColor;
            display: flex;
            list-style: none;
            justify-content: center;
            margin: 0 auto;
            padding: 20px 10px;
        }
        
        a{
            text-decoration: none;
            @include primaryFont (20, 500);
            color: #fff;
            padding: 25px;

            
            &:hover{
                color: $accentColor;
            }
        }

        .headerBar__headerTwo{
            @include headingFont (42, 400);
            color: #fff;
            padding: 10px 20px;
            margin: 0;
            line-height: 10px;
        }

        .headerOne{
            @include headingFont (100, 400);
            color: #fff;
            text-align: center;
            position: relative;
            

            // .headerOne::before{
            //     content: "";
            //     background-image: url(../assets/circle-text.png);
            //     height: 100px;
            //     width: 100px;
            //     position: absolute;
            //     top: -50px;

                
            // }
        }

    }