@media (max-width: 1300px){

    .mainHeader{
        height: 80vh;
    }

    .headerOne{
        font-size: 12rem;
        margin-right: 0;
        margin-left: 20px;
    }

    .headerOne::before{
        top: 160px;
    }

    .heading{
        justify-content: space-evenly;
    }

    .heading img{
        width: 80%;
    }
}

@media (max-width: 1180px){
    .wrapper{
        max-width: 90%;
    }

    .mainHeader{
        height: 60vh;
    }

    .heading{
        justify-content: flex-end;
    }

    .headerOne{
        font-size: 10rem;
    }

    .headerOne::before{
        top: 90px;
    }
            
    .heading img{
        width: 60%;
        padding-left: 30px;
    }


}

@media(max-width: 1080px){

    .mainHeader{
        background-image: url(../assets/home-image-1.jpg);
        background-size: cover;
        background-repeat: repeat;
        background-position: center;
        width: 100%;
        height: 100vh;
    }

    .mainHeader{
        display: flex;
        flex-direction: row-reverse;
    }

    .mainHeader i{
        display: block;
        font-size: 5rem;
        color: $accentColor;
        background: none;
        padding: 50px;
    }

    .heading{
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .headerOne{
        margin: 0;
    }

    .headerBar ul{
        display: none;
    }

    .heading img{
       display: none;
    }

    .headerOne::before{
        top: 250px;
    }

    .favourite{
        flex-direction: column;
        
    }

    .favourite.wrapper{
        max-width: 100%;
    }

            .favourite__image{
                text-align: center;
                background-color: $primaryColor;
            }
    
            .favourite__image img{
                box-shadow: none;
                position: static;
                width: 70%;    
            }
            
            .favourite__content{
                width: 100%;
                text-align: center;
                padding: 25px 50px;
            }
    
            .favourite__content a{
                display: inline-block;
                width: 300px;
            }
    
    .bucket.wrapper{
        flex-direction: column-reverse;
        
    }

    .bucket.wrapper{
        max-width: 100%;
    }

            .bucket__image{
                text-align: center;
                background-color: $primaryColor;
            }
    
            .bucket__image img{
                box-shadow: none;
                position: static;
                width: 70%;    
            }
            
            .bucket__content{
                width: 100%;
                text-align: center;
                padding: 25px 50px;
            }
    
            .bucket__content a{
                display: inline-block;
                width: 300px;
                float: none;
            }

    .journey__content__type{
        padding: 75px 35px;
    }        
}

@media (max-width:945px){

    .headerOne{
        font-size: 8rem;
    }

    .headerOne::before{
        background-size: cover;
        height: 120px;
        width: 120px;
        display: inherit;
        top: 280px;
    }

    .gallery{
        display: none;
    }

    .journey__content{
        flex-direction: column;
        align-items: center;
    }

    .journey__content__type{
        text-align: center;
        padding: 40px 30px;

        & a{
            display: inline-block;
        }
    }


    .information__content{
        flex-direction: column;
        align-content: center;
    }

    .information__headerThree{
        flex-direction: column;
        text-align: center;
        padding-bottom: 30px;
    }

    .information__photo, 
    .information__about, 
    .information__blog, 
    .information__contact{
        width: 100%;
    }

    .information__photo, 
    .information__about{
        margin-top: 40px;
        margin-bottom: 0;
    }

    .information__blog, 
    .information__contact{
        margin-bottom: 40px;
    }
}



