article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.wrapper {
  max-width: 80%;
  margin: 0 auto; }

.button,
.button a {
  font-family: 'Abril Fatface', cursive;
  color: #fff;
  font-size: 20px;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 300px;
  height: 75px;
  background-color: #e4a436;
  text-decoration: none;
  text-align: center;
  letter-spacing: 1px;
  color: #1f1f1f;
  padding-top: 20px; }

.mainHeader {
  background-color: #345231;
  width: 100%;
  height: 70vh;
  position: relative; }
  .mainHeader .headerBar__list {
    background-color: #345231;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    padding: 20px 10px; }
  .mainHeader a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-size: 2rem;
    color: #1f1f1f;
    font-weight: 500;
    line-height: 1.5;
    color: #fff;
    padding: 25px; }
    .mainHeader a:hover {
      color: #e4a436; }
  .mainHeader .headerBar__headerTwo {
    font-family: 'Abril Fatface', cursive;
    color: #fff;
    font-size: 42px;
    font-size: 4.2rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    padding: 10px 20px;
    margin: 0;
    line-height: 10px; }
  .mainHeader .headerOne {
    font-family: 'Abril Fatface', cursive;
    color: #fff;
    font-size: 100px;
    font-size: 10rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
    position: relative; }

.who {
  background: #f6f6f6;
  margin: 0 auto;
  text-align: center; }
  .who .who__Main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .who .who__Main .who__headerTwo {
      font-family: 'Abril Fatface', cursive;
      color: #fff;
      font-size: 42px;
      font-size: 4.2rem;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #1f1f1f;
      margin: 0;
      text-align: center; }
    .who .who__Main .who__content {
      font-family: 'Montserrat', sans-serif;
      font-size: 24px;
      font-size: 2.4rem;
      color: #1f1f1f;
      font-weight: 400;
      line-height: 1.5;
      color: #1f1f1f;
      text-align: center; }
    .who .who__Main .button {
      margin-bottom: 200px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }

.favourite {
  background: -webkit-gradient(linear, left top, right top, from(#709b6b), color-stop(50%, #709b6b), color-stop(50%, transparent));
  background: -webkit-linear-gradient(left, #709b6b, #709b6b 50%, transparent 50%);
  background: -o-linear-gradient(left, #709b6b, #709b6b 50%, transparent 50%);
  background: linear-gradient(to right, #709b6b, #709b6b 50%, transparent 50%);
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .favourite__image img {
    width: 100%; }
  .favourite__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-size: 2rem;
    color: #1f1f1f;
    font-weight: 400;
    line-height: 1.5;
    width: 50%; }

.bucket {
  background: -webkit-gradient(linear, right top, left top, from(#709b6b), color-stop(50%, #709b6b), color-stop(50%, transparent));
  background: -webkit-linear-gradient(right, #709b6b, #709b6b 50%, transparent 50%);
  background: -o-linear-gradient(right, #709b6b, #709b6b 50%, transparent 50%);
  background: linear-gradient(to left, #709b6b, #709b6b 50%, transparent 50%);
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .bucket__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-size: 2rem;
    color: #1f1f1f;
    font-weight: 400;
    line-height: 1.5;
    width: 50%; }
  .bucket__image img {
    width: 100%; }

.journey {
  background: #f6f6f6; }
  .journey__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .journey__content__type {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 70%;
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
      font-size: 2rem;
      color: #1f1f1f;
      font-weight: 400;
      line-height: 1.5;
      margin: 100px; }
    .journey__content .journey__headerTwo {
      font-family: 'Abril Fatface', cursive;
      color: #fff;
      font-size: 42px;
      font-size: 4.2rem;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #1f1f1f;
      margin: 0; }
    .journey__content .journey__image {
      width: 30%;
      margin-top: 100px; }
